# dependencies
node_modules/
.pnp
.pnp.*

# turbo
.turbo/

# build outputs
.next/
out/
build/
dist/

# testing
coverage/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# debug logs
*-debug.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel
